/** Page css du site cv de Loïne Adamczak */
*
{
	margin: 0px;
	padding: 0px;
	font-family: 'Work Sans', sans-serif;
	color: Black;
}

sup
{
	vertical-align: sup;
	font-size: small;
}

body
{
	height: auto;
}

/** * ------------ *MENU STICKY  * ------------ **/
.menu
{
	position: -webkit-sticky;
	position: sticky;
	z-index: 1;
	width: 100%;
	margin: 0 auto;
	background-color: White;
	top: 0px;
}

.ul_menu
{
	list-style-type:none;
	padding-left: 37em;
}

.ul_menu::after
{
	content: "";
	display: table;
	clear: both;
}

.li_menu
{
	float: left;
	width: 15%;
	text-align: center;
}

.a_menu
{
	display: block;
	text-decoration: none;
	color: black;
	border-bottom: 2px solid transparent;
	padding: 10px 0px;
}

.a_menu:hover
{
	color: Black;
	border-bottom: 2px solid rgba(30, 73, 166, .65);
	margin-left: 2px;
}

/** * ------------ *PRESENTATION  * ------------ **/
.titre
{
	color: rgb(0,0,0);
font-size:80px}

.fit-picture
{
	margin-top:1em;
	width: 250px;
	border-radius: 50%;
	border: 4mm ridge rgba(30, 73, 166, .65);
	margin-left:-10em;
}

.presentation
{
	padding: 100px 0px;
	background-image: url("../image/header/background.jpg");
	background-color: rgba(30, 73, 166, .65);
	background-attachment: fixed;
	background-repeat: no-repeat;
background-size: 100%}

.animation_underline:
{
	border-bottom: 2px solid White;
}

.presentation_titre
{
	color:white;
	padding-top:5px;
}

.presentation_text
{
	padding-top: 80px;
	color:white;
}

.presentation_text sup
{
	vertical-align: sup;
	font-size: small;
	color : White;
}

.presentation_paragraph
{
	background-color: rgba(0, 0, 0, 0.3);
	margin-right: 5em;
	padding-right: 2em;
	padding-bottom: 2em;
	padding-top: 1em;
	margin-top: -1em;
	border-radius: 25px;
}

/** * ------------ *EXPERIENCE  * ------------ **/
.experience
{
	padding-top: 2em;
	margin-bottom: 4em;
}

.experience_titre
{
	padding-bottom: 1em;
	text-decoration: underline;
}

.experience_text
{
	margin-left: 7em;
	padding-left: 6em;
	padding-right: 4em;
}

.experience_list
{
	list-style-position: none;
	margin-bottom: 10px;
}

/** * ------------ *COMPETENCE  * ------------ **/
.competence
{
	background-image: url("../image/competence/background_competence.jpg");
	background-size: 100%;
	background-attachment: fixed;
	background-repeat: no-repeat;
	padding-top : 3em;
	padding-bottom: 5em;
}

.competence_titre
{
	text-decoration: underline;
	margin-bottom: 2em;
}

.competence img
{
	height: 80%;
	width: 80%;
	padding : 1em;
	padding-left: 30px;
	padding-right: 30px;
	background-color : rgba(250, 250, 250, .75);
	border-radius: 20%;
}

.icon_montage
{
padding-bottom: -5px}

.icon_codage
{
	margin-left: 15em;
}

.icon_infographie
{
	margin-left: 30em;
}

.text_montage
{
	margin-right: -25px;
	padding-left: 10px;
	text-align: center;
	font-weight: bold;
}

.text_codage
{
	margin-right: -250px;
	padding-left: 267px;
	text-align: center;
	font-weight: bold;
}

.text_infographie
{
	margin-right: -485px;
	padding-left: 28em;
	text-align: center;
	font-weight: bold;
}

/** * ------------ *FORMATION  * ------------ **/
.formation
{
	border-bottom-color: rgb(0,0,0);
	border-bottom-width: 50px;
	padding-top: 4em;
	margin-bottom: 5em;
}

.formation_titre
{
	padding-bottom: 1em;
	text-decoration: underline;
}

.formation_text
{
	margin-left: 7em;
	padding-left: 6em;
	padding-right: 4em;
}

.formation_list
{
	list-style-position: none;
	margin-bottom: 10px;
}

h4
{
	font-weight: bold;
}

/** * ------------ *CONTACT  * ------------ **/
.article_contact
{
	background-image: url("../image/contact/tel.jpg");
	background-size: 1200px 700px;
	background-position: left 0% bottom 0%;
	background-attachment: fixed;
	background-repeat: no-repeat;
}

.contact
{
	background-image: url("../image/contact/background_contact_blanc.png");
	background-size: 100%;
	background-repeat: no-repeat;
	padding-top : 3em;
	padding-left: 40em;
	padding-bottom: 5em;
	padding-bottom: 4em;
}

.contact_titre
{
	margin-top: -20px;
	padding-bottom: 20px;
	text-decoration: underline;
}

form
{
	margin: 0 auto;
	width: 400px;
	padding: 1em;
	padding-left: 2em;
	padding-right: 3em;
}

ul
{
	list-style: none;
	padding: 0;
	margin: 0;
}

form li + li
{
	margin-top: 1em;
}

label
{
	display: inline-block;
	width: 90px;
	text-align: left;
}

input, textarea
{
	font: 1em sans-serif;
	width: 400px;
	height: 30px;
	box-sizing: border-box;
	border: 1px solid #999;
	margin-left: 10px;
}

input:focus, textarea:focus
{
	border-color: #000;
}

textarea
{
	vertical-align: top;
	height: 6em;
}

button
{
	padding-left: 15px;
	padding-right: 10px;
	margin-left: 19em;
	margin-right: -5em;
	margin-top: 10px;
}

/** * ------------ *FOOTER  * ------------ **/
footer
{
	background-color: rgba(30, 73, 166, .65);
	padding-top: 30px;
	padding-bottom: 30px;
}

.footer_reseausociaux
{
	margin-left:50px;
}

.footer_reseausociaux img
{
	height: 10%;
	width: 10%;
	margin-left:6px;
	padding-top: 15px;
}

.footer_contact-titre
{
	margin-bottom:10px;
}

.icon_cv
{
	height: 30%;
	width: 30%;
	margin-left:26%;
	padding-top: 15px;
}
